.parentclass {
  padding: 20px;
}

.topnavbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topnavbar a {
  text-decoration: none;
  color: #100f3f;
  /* font-family: ; */
  font-weight: 600;
  font-size: 16px;
}

.hire {
  display: flex;
  align-items: center;
  color: #100f3f;
}

.hire h1 {
  margin: 10px;
  font-weight: 600;
  font-size: 16px;
}

.metroimage {
  display: flex;
  justify-content: center;
  position: relative;
}

.positionclass {
  background-color: #d9d9d9;
  position: absolute;
  right: 0px;
  bottom: 40px;
  padding: 40px;
}

/* Hide .positionclass on small devices (600px and down) */
@media only screen and (max-width: 600px) {
  .positionclass {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  margin: 4px;
  text-decoration: none;
  color: #100f3f;
  font-weight: 600;
  font-size: 16px;
}

.nav button {
  /* border: none; */
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 10px;
  border-color: #100f3f;
  /* font-family:; */
  font-weight: 500;
  font-size: 14px;
}

.navbroder {
  border: 1px solid #100f3f;
  border-bottom-right-radius: 12px;
  /* 8px */
  border-bottom-left-radius: 12px;
  /* 8px */
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 20px 20px;



}

/* .parentfooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parentfooter a {
  margin: 8px;
}

.parentfooter img {
  margin: 8px;
} */

.parentfooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Allows items to wrap onto multiple lines if needed */
  padding: 16px;
  /* Adds padding around the footer */
  box-sizing: border-box;
  /* Includes padding and border in the element's total width and height */
}

.parentfooter a,
.parentfooter img {
  margin: 8px;
  color: #100f3f;
  text-decoration: none;
}

.paragraph:hover a {
  text-decoration-line: underline;
}

.paragraph1 {
  width: 40%;

}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
  .parentfooter {
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    align-items: flex-start;
    /* Align items to the start */
    text-align: center;
    /* Center text for better readability */
  }

  .parentfooter a,
  .parentfooter img {
    margin: 4px;
    /* Reduce margin for smaller screens */
  }
}

/* Media Query for Mobile Screens */
@media (max-width: 480px) {
  .parentfooter {
    padding: 8px;
    /* Reduce padding on mobile screens */
  }

  .parentfooter a,
  .parentfooter img {
    margin: 2px;
    /* Further reduce margin for very small screens */
  }
}

.tredmarkyear {
  text-align: center;
  font-style: #161550;
  color: #100f3f;
  padding-bottom: 50px;
}

.realestate {
  text-align: center;
  font-style: #100f3f;
  color: #100f3f;
  font-size: 32px;
}

.homeread {
  text-align: center;
  font-style: #100f3f;
  color: #100f3f;
  margin: 5px;
  padding: 15px;
}

.responsive-image {
  width: 100%;
  /* Make image responsive */
  max-width: 1300px;
  /* Set the maximum width */
  height: auto;
  /* Maintain aspect ratio */
}

/* Example media query for screens smaller than 768px */
@media (max-width: 768px) {
  .responsive-image {
    width: 100%;
    /* Adjust width for smaller screens */
  }
}

/* Example media query for screens smaller than 480px */
@media (max-width: 480px) {
  .responsive-image {
    /* You can set different styles for very small screens if needed */
  }
}

body {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.metro-info p {
  color: #100f3f;
  font-size: 16px;
  line-height: 1.5;
}

/* .faqs {
  font-size: 30px;
  color: #100f3f;
  display: flex ;
  justify-content: center;

}

.faqs p {
  font-size: 20px;
  color: #100f3f;
} */

.showandhide div {
  margin-bottom: 30px;
  padding-bottom: 20px;
  background-color: #f7f9ff;
  border-radius: 5px;
}

/* Container styling */
.faqs {
  padding: 5px;
  padding-top: 50px;
}

.showandhide {
  padding-left: 200px;
  padding-right: 200px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .showandhide {
    padding-left: 200px;
    padding-right: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) {
  .showandhide {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  .showandhide {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Small devices (phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .showandhide {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 599px) {
  .showandhide {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.showandhide img {
  width: 25px;
}

@media (min-width: 600px) {
  .showandhide img {
    max-width: 100%;
    height: auto;
  }
}

h1 {
  text-align: center;
  color: #100f3f;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: background-color 0.3s;
}

.faq-item p {
  font-size: 16px;
  color: #100f3f;
  margin: 0;
  flex: 1;
}

.faq-item img.arrow {
  width: 25px;
  height: auto;
  margin-left: 10px;
  cursor: pointer;
}

/* Responsive design */
@media (min-width: 600px) {
  .faq-item {
    padding: 15px 0;
  }

  .faq-item p {
    font-size: 18px;
  }

  .faq-item img.arrow {
    width: 30px;
  }
}

@media (min-width: 1024px) {
  .faq-item {
    padding: 20px 0;
  }

  .faq-item p {
    font-size: 20px;
  }

  .faq-item img.arrow {
    width: 35px;
  }
}

.paragraph-info {
  padding-left: 200px;
  padding-right: 200px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .paragraph-info {
    padding-left: 200px;
    padding-right: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1199px) {
  .paragraph-info {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  .paragraph-info {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Small devices (phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .paragraph-info {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 599px) {
  .paragraph-info {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.paragraph-info p {
  color: #070636;
  font-weight: 400;
}


.storeapp {
  padding-left: 200px;
  padding-right: 200px;

}

.storeapp h2 {

  font-size: 20px;
}


@media only screen and (min-width: 1200px) {
  .storeapp {
    padding-left: 200px;
    padding-right: 200px;
  }
}


@media only screen and (max-width: 1199px) {
  .storeapp {
    padding-left: 100px;
    padding-right: 100px;
  }
}


@media only screen and (max-width: 991px) {
  .storeapp {
    padding-left: 50px;
    padding-right: 50px;
  }
}


@media only screen and (max-width: 767px) {
  .storeapp {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 599px) {
  .storeapp {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.referearn {
  background-color: #100F3F;
  color: white;
  padding: 8px;
  border-radius: 25px;
  outline: none;
}


.community h2 {
  color: #100F3F;
  font-size: 32px;
}

.community p {
  color: #434343;
  font-size: 16px;
  font-weight: 400;
}


.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.community>div {
  flex: 1;
  margin: 10px;
}

button.referearn {
  display: flex;
  align-items: center;
  background-color: #100F3F;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button.referearn img {
  margin-left: 10px;
}




@media (max-width: 600px) {
  .community h2 {
    font-size: 24px;
  }

  .community p {
    font-size: 14px;
  }

  .d-flex {
    flex-direction: column;
  }

  .community>div {
    margin: 10px 0;
  }

  button.referearn {
    width: 100%;
    justify-content: center;
  }
}


@media (min-width: 601px) and (max-width: 768px) {
  .community h2 {
    font-size: 28px;
  }

  .community p {
    font-size: 15px;
  }

  .d-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .community>div {
    flex: 1 1 45%;
    margin: 10px;
  }

  button.referearn {
    width: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .community h2 {
    font-size: 30px;
  }

  .community p {
    font-size: 16px;
  }

  .d-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .community>div {
    flex: 1 1 30%;
    margin: 10px;
  }

  button.referearn {
    width: auto;
  }
}

@media (min-width: 1025px) {
  .community h2 {
    font-size: 32px;
  }

  .community p {
    font-size: 16px;
  }

  .d-flex {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .community>div {
    flex: 1;
    margin: 10px;
  }

  button.referearn {
    width: auto;
  }
}



.community {
  padding-left: 200px;
  padding-right: 200px;

}


@media only screen and (min-width: 1200px) {
  .community {
    padding-left: 200px;
    padding-right: 200px;
  }
}


@media only screen and (max-width: 1199px) {
  .community {
    padding-left: 100px;
    padding-right: 100px;
  }
}


@media only screen and (max-width: 991px) {
  .community {
    padding-left: 50px;
    padding-right: 50px;
  }
}


@media only screen and (max-width: 767px) {
  .community {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 599px) {
  .community {
    padding-left: 20px;
    padding-right: 20px;
  }
}



.progress-bar {
  width: 100%;
  background-color: #ddd;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  width: 50%;
  /* Change this to represent the progress percentage */
  height: 100%;
  background-color: black;
}

.card {
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  background-color: #EBF0FF;
}

.category {
  background-color: white;
  padding: 5px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius:35px 10em 10%;
  border-radius: 120px / 100px 10px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
  background-color: #f0f4ff;
}

.card-content h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #888;
}

.card-footer .read {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}





.card-responsive .d-flex > div {
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .card-responsive .d-flex {
      flex-direction: column;
      align-items: center;
  }
}



/* Default styles */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.youtubimg img {
  margin: 0; /* Reset any existing margins */
}


/* Default styles */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.youtubimg img {
  margin: 0; /* Reset any existing margins */
  max-width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for small devices */
@media (max-width: 768px) {
  .youtubimg img {
    margin-bottom: 10px; /* Add desired spacing */
  }

  .youtubimg img:last-child {
    margin-bottom: 0; /* Remove margin for the last image */
  }
}


.card-responsive {
  padding-left: 200px;
  padding-right: 200px;

}


@media only screen and (min-width: 1200px) {
  .card-responsive {
    padding-left: 200px;
    padding-right: 200px;
  }
}


@media only screen and (max-width: 1199px) {
  .card-responsive {
    padding-left: 100px;
    padding-right: 100px;
  }
}


@media only screen and (max-width: 991px) {
  .card-responsive {
    padding-left: 50px;
    padding-right: 50px;
  }
}


@media only screen and (max-width: 767px) {
  .card-responsive {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 599px) {
  .card-responsive {
    padding-left: 20px;
    padding-right: 20px;
  }
}